This code merges the LitPop databases at country level in a world database for 
a resolution of 5 minutes (300 seconds)

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [5]:

import os 
import pandas as pd
file_path="P:\\Projets Internes\\PLADIFES\\PLADIFES DATA CREATION\\Sectorial wealth\\Data\\5 minutes"
file_list=os.listdir(file_path)

In [ ]:
df_append=pd.DataFrame()
for file in file_list:
        print(file)
        df_temp = pd.read_hdf(file_path+"\\"+file)
        df_append = pd.concat([df_append, df_temp], ignore_index=True)

In [7]:
df_world_5minutes=df_append[['value', 'latitude', 'longitude']]
df_world_5minutes.to_csv(file_path+"world_5minutes.csv")

In [3]:
a=pd.read_csv("P:\\Projets Internes\\PLADIFES\\PLADIFES DATA CREATION\\Sectorial wealth\\Data\\world_5 minutes.csv")
a

         Unnamed: 0         value   latitude  longitude
0                 0  3.509212e+09  12.541667 -70.041667
1                 1  5.769801e+08  12.541667 -69.958333
2                 2  4.379376e+04  38.458333  70.958333
3                 3  9.023669e+04  38.375000  70.708333
4                 4  7.836037e+04  38.375000  70.791667
...             ...           ...        ...        ...
2203390     2203390  2.067650e+05 -22.291667  31.125000
2203391     2203391  2.484672e+05 -22.291667  31.208333
2203392     2203392  2.627585e+05 -22.291667  31.291667
2203393     2203393  2.335752e+05 -22.291667  31.375000
2203394     2203394  1.730582e+05 -22.375000  31.291667

[2203395 rows x 4 columns]